<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Search</title>
        <link rel="stylesheet" href="search.css"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="searchField">
                <h1 class="noselect">Search for a movie</h1>
                <form action="/results" method="GET">
                    <input type="text" name="search" placeholder="Movie name">
                </form>
            </div>
            <div class="footer">
                <p>© Tomislav Perić 2018</p>
            </div>
        </div>
    </body>
</html>